.galery{
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.299);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.614);
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

