body {
    font-size: 1.4em;
}

textarea {
    width: 300px;
    height: 100px;
    resize: none; /* чтобы скрыть от пользователя возможность менять размер поля ввода текста */
    /* resize: vertical; чтобы можно было менять размер только по вертикали */
}
