@import "./nocompile/normalize";
@import "./nocompile/vars";
@import "./nocompile/mixins";

a {
    color: $linkColor;
    font-size: $basicSize;

    &:hover {
        color: $linkHoverColor;
    }

    span {
        border-bottom: 1px solid magenta;
    }
}

// .product{
//     .product__name { }
//     .product__price { }

// }


.product{
    margin: 0 auto;
    &__name {
        font-size: 2rem;
     }
    &__price { 
        font-size: 1.5rem;
    }
}


.header {
    margin: 0 auto;
    &__name {
        font-size: 2rem;
     }
    &__title { 
        font-size: 1.2rem;
    }
}

h1 {
    font-size: $h1size;
}


// калькуляция

// div {
//     width: calc();
// }

div {
    width: 200px + 10;
}


button {
    // color: lighten($linkColor, 20%); // сделает на 20% светлее звданный цвет
    color: darken($linkColor, 20%); //сделает  на 20% темнее
    background-color: transparentize($linkColor, 0.2); //сделает по прозрачнее цвет
    background-color: opacify(rgba(60, 255, 0, 0.3), 0.2); // станет мение прозрачным
}


// .flex-center {
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     align-items: center;
// }

// .block1 {
//     @extend .flex-center;
//     background-color: aqua;
// }

// .block2 {
//     @extend .flex-center;
//     @extend button;
//     background-color: aqua;
// }


// Наследование
// если не нужно чтобы был блок флекс центр а были только наследники %
%flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.block1 {
    @extend %flex-center;
    background-color: aqua;
}

.block2 {
    @extend %flex-center;
    @extend button;
    background-color: aqua;
}


// Миксины

// @mixin title($_mb: 1rem) Значение по умолчанию 
// @mixin title($_size, $_weight, $_mb: 1rem, $_mt: 1rem) {
//     font-size: $_size;
//     font-weight: $_weight;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     color: gray;
//     margin-bottom: $_mb;
//     margin-top: $_mt;

// }

// h1 {
//     @include title(2rem, 700, 3rem);

//     @include respontTo (768px, 992px) {
//         font-size: 3rem;
//     }

//     @include respontTo (993px, 1024px) {
//         font-size: 3.2rem;
//     }
// }

h1 {
    @include title(2rem, 700, 3rem);

   @include media ($tablet) {
    font-size: 2.5rem;
    font-weight: bold;
   }

   @include media ($notebook) {
    font-size: 2.8rem;
    font-weight: 900;
   }

   @include media ($desktop) {
    font-size: 3rem;
    font-weight: 600 ;
   }
}

h2 {
    @include title($_size: 1.5rem, $_weight: 400, $_mt: 2rem);
}

// Адаптивный миксин



