
// - коментарии которые не будут компилироваться
/* - коментарии которые будут компильроваться */


// переменные 

//pallete
$linkColor: rgb(60, 255, 0);
$linkHoverColor: red;
$linkHeaderTitleColor: rgb(21, 24, 151);

//font-size
$basicSize: 1.5rem;
$h1size: 2.4rem;
