/* html {} 
:root {}
если разные параметры написать то приоритет будет у root  */

:root {
    /* переменная начинаеться с двух -- */
    --color-primary: red;
}

.text {
    color: var(--color-primary);
}

.blue-text {
    /* переопредиляться переменная может сколько угодно раз на любой интересующей нас глубине */
    --color-primary: blue; 
}

.green-text {
    /* переопредиляться переменная может сколько угодно раз на любой интересующей нас глубине */
    --color-primary: green; 
}